<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLInternetDAL.Properties.Settings.QLInternetConnectionString"
            connectionString="Data Source=DESKTOP-EHEPH4R;Initial Catalog=QLInternet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>